1\. Feladat

In [7]:
SELECT COUNT(FOGLALAS_PK) AS 'Foglalások száma'
FROM Foglalas
WHERE YEAR(METTOL) = YEAR(MEDDIG) AND NOT MONTH(METTOL)= MONTH(MEDDIG)

Foglalások száma
131

2\. Feladat

In [13]:
SELECT szh.TIPUS,ROUND(COUNT(*),-2)
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK=sz.SZOBA_ID
                JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID
GROUP BY szh.TIPUS 
HAVING ROUND(COUNT(*),-2) < 500

TIPUS,(No column name)
Apartman,100
vendégház,100
panzió,200

3\. Feladat

In [23]:
SELECT sz.SZOBA_SZAMA,
YEAR(METTOL),
COUNT(*)
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK=sz.SZOBA_ID
WHERE sz.SZOBA_SZAMA %2 = 1
GROUP BY sz.SZOBA_SZAMA,YEAR(METTOL)
HAVING count(*)>10

SZOBA_SZAMA,(No column name),(No column name)
1,2016,52
11,2016,22
13,2016,14
15,2016,16
17,2016,16
19,2016,14
21,2016,29
23,2016,18
25,2016,17
27,2016,12
29,2016,15
3,2016,53
31,2016,19
33,2016,17
5,2016,53
7,2016,32
9,2016,41
3,2017,12